<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://imoveishelperfunctionsendgrid.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6139c40b-4ebc-44de-b3c2-dd6530f6affb/resourceGroups/Weebhook/providers/Microsoft.Web/sites/ImoveisHelperFunctionSendGrid</ResourceId>
    <UserName>$ImoveisHelperFunctionSendGrid</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://imoveishelperfunctionsendgrid.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>