<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6139c40b-4ebc-44de-b3c2-dd6530f6affb/resourcegroups/DefaultResourceGroup-CQ/providers/Microsoft.Web/sites/DesafioMXM</ResourceId>
    <ResourceGroup>DefaultResourceGroup-CQ</ResourceGroup>
    <ApiResourceId>/subscriptions/6139c40b-4ebc-44de-b3c2-dd6530f6affb/resourceGroups/DefaultResourceGroup-CQ/providers/Microsoft.ApiManagement/service/DesafioMXMapi/apis/DesafioMXM</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://desafiomxm.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>8724d621-12e8-4ab1-9762-79f243c5b7f7</ProjectGuid>
    <MSDeployServiceURL>desafiomxm.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DesafioMXM</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$DesafioMXM</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>